body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#message {
    margin-top: 20px;
    color: red;
}
.dashboard-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

button {
    margin: 10px;
}

#fileTree {
    font-family: 'Courier New', monospace; /* Usamos una fuente monoespaciada para simular consola */
    white-space: pre; /* Preservar espacios para las indentaciones */
}

#fileTree ul {
    margin-left: 20px; /* Indentación para subdirectorios */
    padding-left: 10px; /* Espaciado adicional para subdirectorios */
}

#fileTree li {
    margin: 5px 0;
}

#fileStructureContainer {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
    max-height: 400px;
    overflow-y: auto;
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

